/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    /* Giới hạn chiều rộng tối đa là 1200px */
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    font-size: 36px;
    color: #557a55;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

button {
    background-color: #557a55;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #446a46;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

.tree-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.actions {
    display: flex;
    gap: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #557a55;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}